<p id="notice"><%= notice %></p>

<h1>Listing Travel Journals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_journals.each do |travel_journal| %>
      <tr>
        <td><%= travel_journal.user %></td>
        <td><%= travel_journal.title %></td>
        <td><%= travel_journal.description %></td>
        <td><%= link_to 'Show', travel_journal %></td>
        <td><%= link_to 'Edit', edit_travel_journal_path(travel_journal) %></td>
        <td><%= link_to 'Destroy', travel_journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel journal', new_travel_journal_path %>
